$white: hsl(0, 0%, 100%);
$lightGreyish: hsl(270, 3%, 87%);
$darkGreyish: hsl(279, 6%, 55%);
$veryDarkViolet: hsl(278, 68%, 11%);
$red: hsl(0, 100%, 66%);
$gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);

.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30%;

    width: 100%;

    &:active {
        color: $gradient;
    }

    .number {
        margin-top: 1.8rem;
    }

    .expDiv {
        margin-top: -0.2rem;
    }
}

.input {
    width: 480px;
    height: 3.2rem;
    border-radius: 0.5rem;
    padding: 1.6rem; 
    padding-left: 15px;
    font-size: 18px;
    font-family: "Space Grotesk", sans-serif;
}

.nestedCard {
    display: flex;
    flex-direction: row;
    .input {
        margin-right: 0.8rem;
        width: 100px;
    }
}

.cvc {
    margin-left: 0.8rem;
    .input {
        width: 240px;
    }
}

.btn {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    width: 480px;
    height: 3.2rem;
    margin-top: 0.8rem;
    background-color: $veryDarkViolet;
    color: $lightGreyish;
}

.errorMsg {
    color: $red;
}

.cardFront {
    position: absolute;
    top: 12rem;
    left: 9rem;

    .cardLogo {
        position: absolute;
        top: 2rem;
        left: 2rem;
    }

    .cardData {
        position: absolute;
        top: 7.5rem;
        left: 0rem;
        z-index: 999;
        color: $white;
        padding-left: 3rem;

        h3 {
            font-size: 1.8rem;
            letter-spacing: 0.3rem;
        }

        div {
            display: flex;

            h3 {
                letter-spacing: 0.1rem;
                font-size: 1rem;
                margin-top: 0rem;
                margin-right: 15rem;
            }
        }
    }
}

.cardBack {
    position: absolute;
    top: 32rem;
    left: 16rem;

    .cardCvc {
        position: absolute;
        top: 6.5rem;
        left: 25rem;
        color: $white;
    }
  }
  
.mobileBg {
  display: none;
}


@media only screen and (max-width: 600px) {
    .desktopBg, .cardFront, .cardBack {
      display: none;
    }
    
    .container {
      flex-direction: column;
    }
    
    .mobileBg {
      display: block;
    }
    
    .cardFront {
      position: absolute;
      top: 0rem;
      left: 0rem;
    }

    .card {
      padding-top: 40%;
      padding-left: 10%;
    }
    
    .input {
      height: 3.8rem;
    }

    .btn {
      height: 4rem;
    }
}